{% set t = translations[lang] %}
<nav class="nav">
  <div class="container nav-inner">
    <a class="nav-logo" href="/">
      <img class="nav-logo-img" src="/assets/images/ucs-mark-white.png" alt="UCS">
      <span class="nav-logo-text">Unified Cloud Sensors</span>
    </a>
    <div class="nav-links">
      <a href="/about/">{{ t.nav.about }}</a>
      <a href="/events/">{{ t.nav.news }}</a>
      <a href="/contact/" class="nav-cta">{{ t.nav.contact }}</a>
    </div>
  </div>
</nav>
