<nav class="nav">
  <div class="container nav-inner">
    <a class="nav-logo" href="/">
      <img class="nav-logo-img" src="/assets/images/ucs-logo.png" alt="Unified Cloud Sensors">
    </a>
  </div>
</nav>
